<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Calculator</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    <h1>ВАЛЮТНИЙ КАЛЬКУЛЯТОР</h1>
    <form action="/" method="POST">

        <label for="select-currency"> Оберить валюту,яку бажаєте купити</label>
        <select id="select-currency" name="select-currency" placeholder="Оберить валюту зі списку валют">
            <option currency="USD">dolar amerykański</option>
            <option currency="AUD">dolar australijski</option>
            <option currency="CAD">dolar kanadyjski</option>
            <option currency="EUR">euro</option>
            <option currency="HUF">forint Węgry</option>
            <option currency="CHF">frank szwajcarski</option>
            <option currency="GBP">funt szterling</option>
            <option currency="JPY">jen (Japonia)</option>
            <option currency="CZK">korona czeska</option>
            <option currency="DKK">korona duńska</option>
            <option currency="NOK">korona norweska</option>
            <option currency="SEK">korona szwedzka</option>
            <option currency="XDR">SDR (MFW)</option>

        </select>
        <br> 
        <label for="number">Введить суму валюти:
            <input id="number" type="number" name="amount" value="0" min="0" max="999999" placeholder="Введить сумму" required>
        </label>
        <br> 

        <button class="submit-button" type="submit">Розрахувати суму в злотих</button>

        <br>

        <label class="result">Result: {{result}}</label>

    </form>

</body>

</html>